.config/nvim/plugged/
.config/nvim/undodir/
.config/nvim/.netrwhist
.config/ncmpcpp/lyrics/
.config/ncmpcpp/error.log

.config/mpd/mpd.db
.config/mpd/mpd.log
.config/mpd/mpd.pid
.config/mpd/mpd.state
.config/mpd/sticker.sql
.config/mpd/playlists
.config/zsh/.zcompdump
