! =========================
! ======== XTERM ==========
! =========================
Runner.*.faceName:   JetbrainsMono Nerd Font:style=Regular;
Runner.*.faceSize:   16
Runner.*.saveLines:  4096

Runner.*.translations: #override \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! =========================
! ======== COLORS =========
! =========================

! Monokai
! special
Runner.*.foreground:   #f8f8f2
Runner.*.background:   #272822
Runner.*.cursorColor:  #f8f8f2

! black
Runner.*.color0:       #272822
Runner.*.color8:       #75715e

! red
Runner.*.color1:       #f92672
Runner.*.color9:       #f92672

! green
Runner.*.color2:       #a6e22e
Runner.*.color10:      #a6e22e

! yellow
Runner.*.color3:       #f4bf75
Runner.*.color11:      #f4bf75

! blue
Runner.*.color4:       #66d9ef
Runner.*.color12:      #66d9ef

! magenta
Runner.*.color5:       #ae81ff
Runner.*.color13:      #ae81ff

! cyan
Runner.*.color6:       #a1efe4
Runner.*.color14:      #a1efe4

! white
Runner.*.color7:       #f8f8f2
Runner.*.color15:      #f9f8f5


/* ! special */
/* *.foreground:   #bbc2cf */
/* *.background:   #282c34 */
/* *.cursorColor:  #bbc2cf */

/* ! black */
/* *.color0:       #1c1f24 */
/* *.color8:       #5b6268 */

/* ! red */
/* *.color1:       #ff6c6b */
/* *.color9:       #da8548 */

/* ! green */
/* *.color2:       #98be65 */
/* *.color10:      #4db5bd */

/* ! yellow */
/* *.color3:       #da8548 */
/* *.color11:      #ecbe7b */

/* ! blue */
/* *.color4:       #51afef */
/* *.color12:      #3071db */

/* ! magenta */
/* *.color5:       #c678dd */
/* *.color13:      #a9a1e1 */

/* ! cyan */
/* *.color6:       #5699af */
/* *.color14:      #46d9ff */

/* ! white */
/* *.color7:       #202328 */
/* *.color15:      #dfdfdf */

! ========================
! ======== Urxvt =========
! disable the scrollbar
URxvt.scrollBar: false

! ----Extensions----
URxvt.perl-ext-common:  default,matcher,resize-font,clipboard
! matcher
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1URxvt.clipboard.autocopy: true
! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.smaller: C-k
! clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
